{% extends 'todo/main.html' %}
{% load static %}


{% block pageTitle %}

    Todo App - {{ item.title }}

{% endblock pageTitle %}


<!-- --------------------------------------- NAVBAR -------------------------------------------- -->

{% block navbarContent %}

    {% include 'todo/partials/navbar.html' %}
         
{% endblock navbarContent %}



<!-- ---------------------------------------  MAIN CONTENT -------------------------------------------- -->

{% block mainContent %}  

    <div class="row page-title" style="margin-left:10%;">
        <h3>
            <b>Page Not Found!</b>
            <small>You Can't Access This Page</small>
        </h3>        
    </div>

{% endblock mainContent %}
